.BannerComedyRadio {
  display: block;
  width: 90%;
  max-width: 3000px;
  margin: 20px auto;
}

.ComedyRadioHomeSiteLogo {
  display: block;
  width: 30%;
  max-width: 1000px;
  margin: 20px auto;
}

.AudioPleer {
  display: block;
  width: 60%;
  max-width: 1000px;
  margin: 20px auto;
}

.Panel__in{
  background: url(https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif);
  background-size: cover;
  }

/*
.Persik {
  display: block;
  width: 30%;
  max-width: 200px;
  margin: 20px auto;
}
*/

