.ComedyRadioHomeSiteLogo {
  display: block;
  width: 30%;
  max-width: 3000px;
  margin: 20px auto;
}

.BannerComedyRadio {
  display: block;
  width: 100%;
  max-width: 3000px;
  margin: 20px auto;
}

.Persik {
  display: block;
  width: 30%;
  max-width: 200px;
  margin: 20px auto;
}

