.BannerComedyRadio {
  display: block;
  width: 90%;
  max-width: 3000px;
  margin: 20px auto;
}

.ComedyRadioHomeSiteLogo {
  display: block;
  width: 30%;
  max-width: 1000px;
  margin: 20px auto;
}

.AudioPleer {
  display: block;
  width: 60%;
  max-width: 1000px;
  margin: 20px auto;
}

/*
.Persik {
  display: block;
  width: 30%;
  max-width: 200px;
  margin: 20px auto;
}
*/

